<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="tcoForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Moneda Origen</label>
                        <select formControlName="monedaOrigen" class="form-control">
                            <option *ngFor="let tcItem of tcList" [ngValue]="tcItem.moneda">{{tcItem.moneda}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Moneda Destino</label>
                        <select formControlName="monedaDestino" class="form-control">
                            <option *ngFor="let tcItem of tcList" [ngValue]="tcItem.moneda">{{tcItem.moneda}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Monto</label>
                        <input type="number" id="monto" formControlName="monto" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!tcoForm.valid">Enviar</button>
                    <button type="button" class="btn btn-danger" (click)="onClean()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="col-xs-12" *ngIf="tcoOperacion">
        <h4>Resultado de la operacion:</h4>
        <div class="col-xs-12"><b>Monto original:</b> {{this.tcoOperacion.monto}}</div>
        <div class="col-xs-12"><b>Monto con Tipo de cambio:</b> {{this.tcoOperacion.montoObtenido}}</div>
        <div class="col-xs-12"><b>Moneda Origen:</b> {{this.tcoOperacion.monedaOrigen}}</div>
        <div class="col-xs-12"><b>Moneda Destino:</b> {{this.tcoOperacion.monedaDestino}}</div>
        <div class="col-xs-12"><b>Tipo de Cambio usado:</b> {{this.tcoOperacion.tipoCambioUsado}}</div>
    </div>
</div>